<div id="IndexTitle">
    <h1>KrokmouStream</h1>
    <p>Le meilleur pour l'organisation de vos séries</p>
</div>

<div class="container encadrement-media">
    <% if ! user_signed_in? %>
        <% nb_media = @media.all.count 
        if nb_media > 4 %>
            <%- @media.each_with_index do |medium, pos| next if pos > 3 -%>   
                <div class="col-sm-6 col-md-3 encadrement-medium">            
                    <%= link_to(cl_image_tag(medium.photo.path, class: "picture"), medium_path(medium)) %>
                </div>
            <% end %>
        <% else %>
            <%- @media.each do |medium| -%>   
                <div class="col-sm-6 col-md-3 encadrement-medium">            
                    <%= link_to(cl_image_tag(medium.photo.path, class: "picture"), medium_path(medium)) %>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <%- @media.each do |medium| -%>   
            <div class="col-sm-6 col-md-3 encadrement-medium">            
                <%= link_to(cl_image_tag(medium.photo.path, class: "picture"), medium_path(medium)) %>
            </div>
        <% end %>
        <% indexMemberMedia %>
				<%- @member_media.each do |member_medium| -%>
						<% if member_medium.user_id == current_user.id %>
								<div class="col-sm-6 col-md-3 encadrement-medium-perso">
										<%- @media.each do |medium| -%>
												<% if medium.Media_ID == member_medium.Media && medium.Style == "SERIE" %>
														<h2 class="text-center"><%= medium.Title %></h2>
														<%= link_to(cl_image_tag(medium.photo.path, class: "picture"), member_medium_path(member_medium)) %>
												<% end %>
										<% end %>
								</div>
						<% end %>
				<% end %>
    <% end %>
</div>



