<%= render partial: "media/button_index" %>
<% if user_signed_in?%>
    <%= render partial: "media/button_save_medium" %>
<% end %>
<div class="media">
  <h1><%= @medium.Title %></h1>
  <div class="row medium">
    <div class="col-sm-4">
      <%= cl_image_tag(@medium.photo.path,crop: :fill, class: "picture_fullscreen") %>
    </div>
    <div class="col-sm-8">
      <p>Type: <%= @medium.Type %></p>
        <p>Style: <%= @medium.Style %></p>
        <p id="info_season" style="cursor:pointer;">Nombre de saison: <%= @medium.Season %></p>
        <p>Créateur: <%= @medium.Director %></p>
        <p>Synopsis: <%=@medium.description%></p>
    </div>
  </div>
</div>

<ul id="Seasons" class="container">
    <% seasons = Season.all %>
    <%- seasons.each do |season| -%>
        <% if season.Title_Media == @medium.Title %>
          <div class="col-sm-12 text-center Season">
            Saison <%= season.Season_Number %>
            <p>Date de Sortie: <%= season.Date %></p>
            <p>Nombre d'épisode: <%= season.Episode %></p>
            <ul class="Episodes text-left col-md-12">
                <% episodes = Episode.all %>
                <%- episodes.each do |episode| -%>
                    <% if episode.Season_Number == season.Season_Number %>
                      <div class="Episode col-md-2">
                        <h3>Episode <%= episode.Episode_Number%></h3>
                        <h4><%= episode.Title_Episode %></h4>
                        <p>Sortie le : <%= episode.Date%></p>
                      </div>
                    <% end %>
                <% end %>
            </ul>
          </div>
        <% end %>
    <% end %>
</ul>